@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: graphik;
  src: url(fonts/Website/GraphikThaiLoop-Light-Web.woff);
}

body {
  font-family: graphik;
  font-weight: 300;
}
.heading {
  font-family: prompt;
  font-weight: 600;
}
.color {
  color: #9f1c37;
}
.bgcolor {
  background-color: #9f1c37;
}
.borders {
  border-bottom: 1px solid #ffffff;
}
.goldenText {
  color: #989131;
}
